{% extends 'base.html.twig' %}

{% block title %}Hello CarouselController!{% endblock %}

{% block body %}

<div class="flex flex-col items-center space-y-12 w-11/12">
	<section class="flex flex-col items-center justify-center w-11/12 space-y-6">
		<h1 class="text-5xl text-center">Bienvenue dans la Galaxie Boissières</h1>
		<h2 class="text-xl text-center">Ici gravitent les guitares Boissières qui ont changé d'orbite</h2>
	</section>
	{% for item in carousel %}
	<section class="flex flex-row items-center justify-between w-full">
		<div class="flex flex-col items-center justify-center space-y-6 w-5/12">
			<h2 class="text-4xl uppercase">{{item.title | raw}}</h2>
			{{item.description | raw}}
		</div>
		<div class="flex flex-col items-center justify-center w-5/12 space-y-6">
			
<img src="{{ asset('img/' ~ item.files[0].filename_disk|replace({'.JPG': '.webp'}) ) }}" loading="lazy" class="w-full h-[640px] object-cover" alt="photo">

			<div class="flex flex-row items-center justify-center space-x-6">
				{% for file in item.files %}
					{% if loop.index0 != 0 %}
						<img src="{{asset('img/' ~ file.filename_disk | replace({'.JPG': '.webp'}))}}" loading="lazy" class="w-full max-h-14 object-cover" alt="photo">
					{% endif%}
				{% endfor%}
			</div>
		</div>
	</section>
	{% endfor %}
</div>

{% endblock %}
