<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}" >
    <noscript><link rel="stylesheet" href="{{ asset('styles/app.css') }}"></noscript>

    {% block javascripts %}{% endblock %}
</head>
    <body>
        <main class="flex flex-row items-center justify-center w-full">
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
